// Navbar module
.navbar {
  &__item {
    text-decoration: none;
  }

  &__item--active {
    font-weight: 700;
  }
  padding: 10px;

  a, span {
    padding: 0 15px;
    cursor: pointer;
  }
  a:first-child {
    padding-left: 0;
  }
}
